#menu img {
  width: 100px;
  height: 100px;

}

#menu {
  background-color: #d9fba2;
}

.container-fluid {
  background-color: #d9fba2;
  color: white;
}

#eslogan {
  text-align: center;
  margin-top: 10px;
  box-shadow: 5px 5px 10px grey;
  width: 80%;
  margin-left: 150px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

#redes img {
  height: 75px;
  width: 75px;
}

#logo {
  background-color: #d9fba2;
}

.informacion {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 10px;
  box-sizing: border-box;
  line-height: 1;
}

#formulario {
  display: flex;
  justify-content: center;

}

@media(max-width:768px) {

  #foot {
    text-align: left;
  }

}